* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #292929;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    /* display: grid; */
    /* place-items: center; */
    /* height: 100vh; */
}
button {
    padding: 1rem;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(9, 51, 9);
    border-radius: 25px;
    font-size: larger;
    font-weight: 800;
}
input[type="text"] {
    padding: 1rem;
    border: 1px solid black;
}
.menu {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hide {
    display: none;
}

h1 {
    margin: 1rem;
}
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(33, 35, 153);
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}
